* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.selectorContainer {
  position: relative;
  background-image: url("../images/paperBackgroundd.webp");
  background-size: 100% 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

.tituloJuego {
  font-size: 4rem;
  padding: 2rem;
}

.contenedorJugadores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.jugadorContainer {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nombreJugador {
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
}

.personajesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.personaje {
  margin: 1rem;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
}
.personaje img {
  width: 100%;
  height: 100%;
}

.active {
  border: 2px solid grey;
}

.disabled {
  cursor: default;
  opacity: 0.6;
}

.escenarioContainer {
  margin: 1rem;
  padding: 1rem;
}

.escenarioSelect {
  height: 4rem;
  margin: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  font-family: "Press Start 2P", cursive;
  border-radius: 2px;
  background-color: #3b3d40;
  color: #fff;
  text-align: center;
}
.escenarioSelect option {
  height: 4rem;
  padding: 2rem;
  margin: 2rem;
}

.submit {
  margin: 1;
  padding: 0.5rem;
  padding: 0.1em 0.25em;
  background-color: #3b3d40;
  border: 0.08em solid grey;
  border-radius: 0.3em;
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
}
.submit span {
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  background-color: #3b3d40;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid grey;
  box-shadow: 0 0.4em 0.1em 0.019em grey;
}
.submit span:active {
  transition: all 0.25s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 grey;
}
.submit span:not(hover) {
  transition: all 0.25s;
}

.reset {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.reset span {
  color: red;
}

.modal {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameContainer {
  position: relative;
  display: inline-block;
}

.displayVida {
  width: 100%;
  padding: 2rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player1, .player2 {
  z-index: 1;
  position: relative;
  height: 30px;
  width: 100%;
  border-top: 2px solid #edf2f4;
  border-bottom: 2px solid #edf2f4;
}

.player1 {
  border-left: 2px solid #edf2f4;
  border-radius: 2px 0 0 2px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  transform-origin: top;
  transform: skewX(17deg);
}

.player2 {
  border-right: 2px solid #edf2f4;
  border-radius: 0 2px 2px 0;
  overflow: hidden;
  transform-origin: top;
  transform: skewX(-17deg);
}

.player1Total {
  background-color: red;
  height: 26px;
  width: 100%;
}

.player2Total {
  background-color: red;
  height: 26px;
}

.player1Partial {
  position: absolute;
  background-color: #0077b6;
  height: 26px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: width 0.2s ease-in-out;
}

.player2Partial {
  position: absolute;
  background-color: #0077b6;
  width: 100%;
  height: 26px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: width 0.2s ease-in-out;
}

.timer {
  flex-shrink: 0;
  z-index: 2;
  border: 2px solid #edf2f4;
  background-color: black;
  color: #edf2f4;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  padding: 1rem;
  height: 75px;
  width: 75px;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.timer p {
  padding-left: 5px;
}

.displayResultado {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #edf2f4;
  font-size: 4rem;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.displayResultado p {
  padding-left: 8px;
}

/*# sourceMappingURL=styles.css.map */
